.operationStyles {
  display: flex;
  align-items: center;
  list-style: none;

  li {
    border-right: 1px solid #4a5266;
    height: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 2px;
    margin-left: 2px;

    :global {
      .ant-btn {
        background: #272b36;
        padding: 6px 8px;
        height: 24px;
        box-sizing: border-box;
        line-height: 1;
        margin-right: 4px;
        border: none;
      }

      .ant-btn:hover,
      .ant-btn:focus {
        // color:transparent;
        border: none;
      }
    }
  }

  li:nth-last-child(1) {
    border: none;
  }

  li:nth-child(1) {
    margin-left: 2px;
  }
}

.color00B69B {
  color: #00b69b;
}

.color42B1FF {
  color: #42b1ff;
}

.colorFF8743 {
  color: #ff8743;
}

.colorC8C9CC {
  color: #c8c9cc;
}

.color00B69B:hover,
color00B69B:focus {
  color: #00b69b;
}

.color42B1FF:hover,
color42B1FF:focus {
  color: #42b1ff;
}

.colorFF8743:hover,
colorFF8743:focus {
  color: #ff8743;
}

.colorC8C9CC:hover,
colorC8C9CC:focus {
  color: #c8c9cc;
}

.agTableDailyClass {
  :global {
    .ag-theme-alpine-dark .ag-header-cell-resize::after {
      background-color: #4a5266;
    }

    .ag-theme-alpine-dark .ag-icon-tree-open::before {
      display: none;
    }

    .ag-theme-alpine-dark .ag-icon-tree-closed::before {
      display: none;
    }

    .ag-theme-alpine-dark [class^='ag-'],
    .ag-theme-alpine-dark [class^='ag-']:hover {
      box-sizing: border-box;
      outline: none;
    }

    .ag-theme-alpine-dark .ag-ltr [class^='ag-row-group-leaf-indent'] {
      margin-left: 6px;
      padding-left: 6px;
    }

    .ag-theme-alpine-dark .ag-ltr .ag-row-group-leaf-indent {
      margin-left: 0px;
      padding-left: 6px;
    }

    .ag-header {
      font-size: 14px;
      border-bottom: none !important;
    }

    .ag-theme-alpine-dark .ag-row {
      font-size: 12px;
    }

    .ag-theme-alpine-dark {
      --ag-background-color: #15161b;
      --ag-header-background-color: #282d38;
      --ag-odd-row-background-color: #15161b;
      --ag-row-hover-color: #2f3542;
      --ag-header-height: 28px !important;
      --ag-row-height: 28px;
      --ag-list-item-height: 28px;
      --ag-data-color: #bbbcbe;
      --ag-header-foreground-color: #d6d8da;
      --ag-font-size: 12px;
      --ag-row-border-color: #373d4d;
      --ag-secondary-border-color: transparent;
    }

    .ag-theme-alpine-dark .ag-checkbox-input-wrapper {
      width: 12px;
      height: 12px;
      font-size: 12px;
      line-height: 12px;
    }

    .ag-cell-wrapper.ag-row-group {
      align-items: center;
    }

    .ag-theme-alpine-dark .ag-root-wrapper {
      border: none;
    }

    .ag-theme-alpine-dark [class^='ag-row-level'] {
      border: none;
    }

    .ag-theme-alpine-dark
      .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(.ag-cell-range-single-cell) {
      border: none;
      box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.4);
    }

    .ag-theme-alpine-dark
      .ag-body-horizontal-scroll:not(.ag-scrollbar-invisible)
      .ag-horizontal-right-spacer:not(.ag-scroller-corner) {
      border-left: none;
      box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.4);
    }

    .ag-theme-alpine-dark .ag-pinned-right-header {
      border: none;
      box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.4);
    }

    .ag-theme-alpine-dark .ag-cell,
    .ag-theme-alpine-dark .ag-full-width-row .ag-cell-wrapper.ag-row-group {
      padding-left: 12px;
      padding-right: 0;
      display: flex;
      align-items: center;
    }

    .ag-theme-alpine-dark .ag-ltr .ag-header-select-all {
      margin-right: 6px;
      margin-left: 0px;
    }

    .ag-theme-alpine-dark .ag-ltr .ag-row-drag,
    .ag-theme-alpine-dark .ag-ltr .ag-selection-checkbox,
    .ag-theme-alpine-dark .ag-ltr .ag-group-expanded,
    .ag-theme-alpine-dark .ag-ltr .ag-group-contracted {
      margin-left: 0px;
      margin-right: 6px;
    }
    .ag-theme-alpine-dark .ag-header-cell,
    .ag-theme-alpine-dark .ag-header-group-cell {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
